@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/AnonymousPro-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  /**overflow: hidden;**/
  font-size: 18px;
}

#slide-home {
  /* background-image: url(../images/bg.png); */
  background-size: cover;
}

#slide-home, .title {
  font-family: 'Anonymous Pro', monospace;
}

#slide-home h1 {
  background-color: #5073B8;
  text-transform: uppercase;
}

#slide-home h1, .title h1 {
  font-size: 80px;
  margin: 0;
}

#slide-home p, .title p {
  font-size: 30px;
}

#slide-home p {
  /* background-color: #333; */
}

.a-blue {
  background-color: #5c6fff;
  color: #FFF;
}

.blue {
  background-color: #005f85;
  color: #FFF;
}

.orange {
  background-color: #ff5c5c;
  color: #FFF;
}

.html-orange {
  background-color: #E44D26;
  border-color: #E44D26;
  color: #FFF;
}

.css-blue {
  background-color: #1758a7;
  color: #FFF;
}

.fb-blue {
  background-color: #4267b2;
  color: #FFF;
}

.green {
  background-color: #61A043;
  color: #FFF;
}

.sass-pink {
  background-color: #CF649A;
  border-color: #CF649A;
  color: #FFF;
}

.image-block img {
  max-width: 300px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

.gt-slider-number {
  position: absolute;
  font-size: 30px;
  border-radius: 3px;
  border: 1px solid #333;
  min-width: 40px;
  min-height: 40px;
  right: 15px;
  bottom: 15px;
  text-align: center;
  padding: 5px;
  line-height: 1;
}

.profile img {
  width: 150px;
  border-radius: 3px;
}

.line {
  height: 1px;
  width: 100%;
}

#slide-web {
  background-image: url(../images/app.png);
  background-size: 100% 5%;
}

#slide-web > .centerex >  * {
  background-color: #005f85;
}
